body{
 background-color: rgb(255, 255, 255);
}
.container{
   width: 99.1%;
   top: 0px;
   position: fixed;
   display: flex;
   justify-content: space-between;
   background: rgba(214, 214, 227, 0.545);
   box-shadow: rgba(85, 74, 74, 0.215);
   padding-top: 0%;
   padding-bottom: 0%;

}
.topic
{
    text-decoration: none;
    padding-right: 10px;
    display: flex;
    margin-top: 30px;
    color: black;

}
h3{
    margin-right: 50px;
}
#sumbit
{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    color: red ;
    background: white;
}
#home{
    height: 500px;
    margin-top: 100px;
    margin-bottom: 300px;
    font-size: xx-large;
    font-size: 34px;
}
#bio{
    background-color: rgba(214, 214, 227, 0.545) ;
   border-bottom: 20px;
    height: 400px;
    align-items: center;
    justify-content: center;

}
.bio1{
    margin-bottom: 500px;
    text-align: center;
    border-bottom: 
}
.PORTFOLIO{
    background-color:rgb(250, 250, 250);
    height: 900px;
}#skills{
    justify-content: space-evenly;
    background-color: rgba(214, 214, 227, 0.545) ;
    height: 400px;
   
    
}
.works{
    text-align: center;
    margin-left: 50px;
    
}
.box1{
    width: 200px;
    height: 200px;
    border-width: 200px;
    background-color:  rgba(214, 214, 227, 0.545);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box2{
    width: 200px;
    height: 200px;
    border-width: 200px;
    background-color:  rgba(214, 214, 227, 0.545);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}.box3{
    width: 200px;
    height: 200px;
    border-width:200px ;
    background-color:  rgba(214, 214, 227, 0.545);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box{
    display: flex;
    justify-content:space-evenly;
}
.skill{
  
    display: flex;
   margin-left: 20%;
}
.tech{
    display: flex;
    border-radius: 100px;
    width: 100%;
    height: 300px;
   
}.skills1{
    width: 100%;
    height: 100%;
    

}
.skills2{

    width: 100%;
    height: 
}
.langauge{
    display: flex;
    border-radius: 100px;
    width: 100%;
    height: 300px;
    justify-content:center;
}
progress
{
    height: 20px;
    border-radius: 90%;
    width: 40%;
    
}
progress::-webkit-progress-value {background-color: rgba(240, 81, 54)}

#contact{
    background-color: rgb(255, 255, 255); 
    height: 400px;
    text-align: center;
}
.link-button
{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 30px 2px;
    cursor: pointer;
    background-color:rgba(240, 81, 54); 
    color: rgb(9, 9, 9);
    border: 2px solid rgba(240, 81, 54);
    border-radius: 2%;
}
